html{
  background-color: rgb(48, 41, 70);
}


.nav-container{
  display: flex;
  margin: 5px;
  margin-left: 10px;
  font-size:50px;
  font-family: "Fredoka One";
  color: #aa9efa;
  align-items: center;
  justify-content: space-between;
  text-shadow: 3px 3px 7px rgb(87, 4, 255);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
}

.info-bar{
  font-size: 30px;
}

.info-bar > svg{
  margin-left: 10px;
}

.info{
  background: none;
  color:#aa9efa;
  border:none;
  font-size: 30px;
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  font-size: 30px;
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.419);
  box-shadow:  0px 0px 20px 2px rgba(88, 4, 255, 0.837);
}
.info:hover{
  color:#cac2ff;
  cursor:pointer;
  background-color: rgba(88, 4, 255, 0.741);
  box-shadow: 0px 0px 20px 12px rgba(88, 4, 255, 0.837);
}

.music {
  border: none;
  font-family: "Righteous";
  color: white;
  width: 80px;
  height: 80px;
  background-color: #aa9efa;
  box-shadow:  2px 2px 2px 2px rgb(87, 4, 255);
  border-radius: 4px;
  margin-left: 10px;
}
button:focus{
  outline: none;
 
}

.fa-moon{
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  font-size: 30px;
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.741);
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
}



.fa-dice{
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  font-size: 30px;
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.741);
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
}


.fa-sun{
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.83);
  box-shadow:  0px 0px 20px 12px rgb(87, 4, 255);
  
}

.drum{
  color: white;
  text-orientation: upright;
}






.sequencer-container{
  height: 500px;
  width: 90%;
  border: 4px solid #aa9efa;
  margin:auto;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
  animation: border-flicker 4.5s linear infinite;
}

.plugin-container{
  height: 300px;
  width: 90%;
  border: 4px solid #aa9efa;
  margin:auto;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
  animation: border-flicker 6s linear infinite;
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
}

.title{
  display:flex;
  flex-direction:row ;
}
.ill{
  animation: letter-flicker 3s linear infinite;
}
.info-header{
  animation: letter-flicker 4s linear infinite;
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 3px 3px 7px #5704ff
  }
  2% {
    opacity:0.1;
   text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  4% {
    opacity:1;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  
  
  19% {
    opacity:1;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  21% {
    opacity:0.1;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  23% {
    opacity:1;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  
  80% {
    opacity:1;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  83% {
    opacity:0.4;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
  87% {
    opacity:1;
    text-shadow: 3px 3px 7px rgb(87, 4, 255)
  }
}

#modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-child{
  background-color: rgb(48, 41, 70);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border: 3px solid #aa9efa;
  border-radius: 15px;
 
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
  font-family:"Fredoka One";
}

.modal-content{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  color:#aa9efa;
}

.modal-content > h1{
  text-shadow: 3px 3px 7px rgb(87, 4, 255);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
}

.plugin-container{
  display:flex;
  align-items: center;
}
.play-pause{
  margin-left:50px;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.play, .pause{
  font-size: 50px;
}

.sequencer-container{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  overflow:auto;
}
::-webkit-scrollbar {
  width: 10px;
  overscroll-behavior: auto contain;
}

::-webkit-scrollbar-track {
  background:none;
  border-radius: 10px;
  padding-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: #aa9efa46 ;
  border-radius: 10px;
  padding-right: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aa9efa ;
}

::-webkit-scrollbar:hover {
  box-shadow: 0px 0px 20px 12px rgba(88, 4, 255, 0.837);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
  opacity:100%;
}


.sequencer,.bass,.drum{
  display: flex;
  width:95%;
  height: 95%;
  align-items: center;
  min-height:min-content;
}
.instrument-title{
  font-family:'Fredoka One';
  color:#aa9efa;
  font-size:20px;
  padding:10px;
  text-shadow: 3px 3px 7px rgb(87, 4, 255);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
}
.instrument-name{
  display:flex;
  align-items:center;
  text-align: center;
  padding-right: 75px;
  margin-right:10px;
  border-right: 3px solid #aa9efa ;
}
.note{
  display:flex;
  justify-content: space-around;
  width:100%;
}

input[type=checkbox] {
  border-radius: 3px;
  content: "";
  display:flex;    
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border: 2px solid rgb(87, 4, 255);
  border-radius: 3px;
  background-color: #aa9efa;
}

input[type=checkbox]:before {
  display:block;
  background-color: #aa9efa;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(87, 4, 255);
  border-radius: 3px;
  background-color: #aa9efa;
}
input[type=checkbox]:checked:after {
  content: "";
  display:block;
  width: 50px;
  height: 50px;
  border: solid rgba(0, 0, 0, 0);
  border-width: 0 2px 2px 0;
  background-color: #7b67f9;
}

#wavetype{
  background-color: #aa9efa;
  color: rgb(87, 4, 255);
  height: 40px;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  margin :10px;
  font-family: "Fredoka One";
  text-align: center;
}
