html{
  background-color: rgb(48, 41, 70);
}


.nav-container{
  display: flex;
  margin: 5px;
  margin-left: 10px;
  font-size:50px;
  font-family: "Fredoka One";
  color: #aa9efa;
  text-shadow: 3px 3px 7px rgb(87, 4, 255);
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
}

.info-bar{
  font-size: 30px;
}

.info-bar > svg{
  margin-left: 10px;
}

.info{
  background: none;
  color:#aa9efa;
  border:none;
  font-size: 30px;
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  font-size: 30px;
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.419);
  box-shadow:  0px 0px 20px 2px rgba(88, 4, 255, 0.837);
}
.info:hover{
  color:#cac2ff;
  cursor:pointer;
  background-color: rgba(88, 4, 255, 0.741);
  box-shadow: 0px 0px 20px 12px rgba(88, 4, 255, 0.837);
}

.music {
  border: none;
  font-family: "Righteous";
  color: white;
  width: 80px;
  height: 80px;
  background-color: #aa9efa;
  box-shadow:  2px 2px 2px 2px rgb(87, 4, 255);
  border-radius: 4px;
  margin-left: 10px;
}
button:focus{
  outline: none;
 
}

.fa-moon{
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  font-size: 30px;
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.741);
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
}
.info{
  
}
.fa-dice{
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  text-shadow: 3px 3px 4px rgb(87, 4, 255);
  font-size: 30px;
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.741);
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
}


.fa-sun{
  border-radius: 40px;
  background-color: rgba(88, 4, 255, 0.83);
  box-shadow:  0px 0px 20px 12px rgb(87, 4, 255);
  
}

.drum{
  color: white;
  text-orientation: upright;
}






.sequencer-container{
  height: 500px;
  width: 90%;
  border: 4px solid #aa9efa;
  margin:auto;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
  animation: border-flicker 4.5s linear infinite;
}

.plugin-container{
  height: 300px;
  width: 90%;
  border: 4px solid #aa9efa;
  margin:auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow:  0px 0px 20px 12px rgba(88, 4, 255, 0.837);
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 10px rgb(87, 4, 255));
  animation: border-flicker 6s linear infinite;
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(106, 16, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(81, 16, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(124, 16, 232, 0.73);
  }
}
